{{ $description := .Params.Summary | default .Params.Description | default .Site.Params.description }}
{{ $type := cond .IsPage "article" "website" }}
{{ $title := cond .IsHome (.Site.Params.seo.homepageTitle | default (.Site.Title | emojify)) (.Title | plainify | emojify) }}
{{ $socialImage := .Site.Params.seo.socialImage }}
<meta property="og:site_name" content="{{ .Site.Title | emojify }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:type" content="{{ $type }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ with $description }}
  <meta property="og:description" content="{{ . | plainify }}">
{{ end }}
{{ with .Site.Language.Params.htmlCode | default .Site.Language.Locale }}
  <meta property="og:locale" content="{{ . }}">
{{ end }}
{{ with $socialImage }}
  <meta property="og:image" content="{{ . | absURL }}">
  <meta property="og:image:secure_url" content="{{ . | absURL }}">
  {{ with $.Site.Params.seo.socialImageType }}
    <meta property="og:image:type" content="{{ . }}">
  {{ end }}
  {{ with $.Site.Params.seo.socialImageWidth }}
    <meta property="og:image:width" content="{{ . }}">
  {{ end }}
  {{ with $.Site.Params.seo.socialImageHeight }}
    <meta property="og:image:height" content="{{ . }}">
  {{ end }}
  {{ with $.Site.Params.seo.socialImageAlt }}
    <meta property="og:image:alt" content="{{ . }}">
  {{ end }}
{{ end }}