<head>
  <meta charset="utf-8">
  {{ with .Site.Language.Params.htmlCode | default .Site.Language.Locale }}
    <meta http-equiv="content-language" content="{{ . }}">
  {{ end }}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color">

  {{ if .IsHome }}
    {{ $homeTitle := .Site.Params.seo.homepageTitle | default (.Site.Title | emojify) }}
    <title>{{ $homeTitle }}</title>
    <meta name="title" content="{{ $homeTitle }}">
  {{ else }}
    <title>{{ .Title | plainify | emojify }} &middot; {{ .Site.Title | emojify }}</title>
    <meta name="title" content="{{ .Title | plainify | emojify }} &middot; {{ .Site.Title | emojify }}">
  {{ end }}

  {{ $metaDescriptionOrder := .Site.Params.seo.metaDescriptionOrder | default (slice "summary" "description" "site") }}
  {{ $metaDescriptionSources := dict
    "summary" .Params.Summary
    "description" .Params.Description
    "site" .Site.Params.description
  }}
  {{ $metaDescription := "" }}
  {{ range $metaDescriptionOrder }}
    {{ $metaDescription = $metaDescription | default (index $metaDescriptionSources (lower .)) }}
  {{ end }}
  {{ with $metaDescription }}
    <meta name="description" content="{{ . | plainify }}">
  {{ end }}
  {{ with  .Params.Tags | default .Site.Params.keywords }}
    <meta name="keywords" content="{{ range . }}{{ . }},{{ end }}">
  {{ end }}
  {{ with .Site.Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  {{ with .Params.robots }}
    <meta name="robots" content="{{ . }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .IsTranslated }}
    {{ range .AllTranslations }}
      {{ $hreflang := .Language.Locale | default .Language.Lang }}
      {{ if $hreflang }}
        <link rel="alternate" hreflang="{{ $hreflang }}" href="{{ .Permalink }}">
      {{ end }}
    {{ end }}
  {{ end }}
  {{ range .AlternativeOutputFormats }}
    {{ printf `
      <link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink ($.Site.Title | emojify) |
      safeHTML
    }}
  {{ end }}

  {{ with .Site.Params.Author.name }}
    <meta name="author" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.Author.links }}
    {{ range $links := . }}
      {{ range $name, $url := $links }}
        {{ if not (strings.HasPrefix $url "mailto:") }}
          <link href="{{ $url }}" rel="me">
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ partial "meta/opengraph.html" . }}
  {{ partial "meta/twitter-cards.html" . }}

  {{ $featureImage := "" }}
  {{ $pageImages := .Resources.ByType "image" }}
  {{ range slice "*featured*" "*cover*" "*thumbnail*" }}
    {{ if not $featureImage }}
      {{ $featureImage = $pageImages.GetMatch . }}
    {{ end }}
  {{ end }}
  {{ if not $featureImage }}
    {{ with .Site.Params.defaultSocialImage }}
      {{ $socialImage := "" }}
      {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
        {{ $socialImage = resources.GetRemote . }}
      {{ else }}
        {{ $socialImage = resources.Get . }}
      {{ end }}
      {{ with $socialImage }}
        <meta name="twitter:image" content="{{ .RelPermalink | absURL }}">
        <meta property="og:image" content="{{ .RelPermalink | absURL }}">
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with .Site.Params.verification.google }}
    <meta name="google-site-verification" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.verification.bing }}
    <meta name="msvalidate.01" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.verification.pinterest }}
    <meta name="p:domain_verify" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.verification.yandex }}
    <meta name="yandex-verification" content="{{ . }}">
  {{ end }}
  {{ with .Site.Params.verification.fediverse }}
    <meta name="fediverse:creator" content="{{ . }}">
  {{ end }}

  {{ $alg := .Site.Params.fingerprintAlgorithm | default "sha512" }}
  {{ $serverBasePath := "" }}
  {{ if hugo.IsServer }}
    {{ $baseURLParts := urls.Parse site.BaseURL }}
    {{ $serverBasePath = strings.TrimSuffix "/" $baseURLParts.Path }}
  {{ end }}

  {{ $cssResources := slice }}
  {{ $schemeName := .Site.Params.colorScheme | default "blowfish" }}
  {{ $cssScheme := resources.Get (printf "css/schemes/%s.css" (lower $schemeName)) | default (resources.Get "css/schemes/blowfish.css") }}
  {{ $cssResources = $cssResources | append $cssScheme }}
  {{ $cssResources = $cssResources | append (resources.Get "css/compiled/main.css") }}
  {{ with resources.Get "css/custom.css" }}
    {{ $cssResources = $cssResources | append . }}
  {{ end }}
  {{ if not .Site.Params.disableImageZoom | default true }}
    {{ $cssResources = $cssResources | append (resources.Get "lib/zoom/style.css") }}
  {{ end }}
  {{ $bundleCSS := $cssResources | resources.Concat "css/main.bundle.css" | resources.Minify | resources.Fingerprint $alg }}
  {{ $bundleCSSHref := $bundleCSS.RelPermalink }}
  {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $bundleCSSHref $serverBasePath) }}
    {{ $bundleCSSHref = strings.TrimPrefix $serverBasePath $bundleCSSHref }}
  {{ end }}
  <link
    type="text/css"
    rel="stylesheet"
    href="{{ $bundleCSSHref }}"
    integrity="{{ $bundleCSS.Data.Integrity }}">

  {{ $jsAppearance := resources.Get "js/appearance.js" | resources.ExecuteAsTemplate "js/appearance.js" . | resources.Minify | resources.Fingerprint $alg }}
  {{ $jsAppearanceSrc := $jsAppearance.RelPermalink }}
  {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $jsAppearanceSrc $serverBasePath) }}
    {{ $jsAppearanceSrc = strings.TrimPrefix $serverBasePath $jsAppearanceSrc }}
  {{ end }}
  <script
    type="text/javascript"
    src="{{ $jsAppearanceSrc }}"
    integrity="{{ $jsAppearance.Data.Integrity }}"></script>
  {{ $enableA11y := .Site.Params.enableA11y | default false }}
  {{ if $enableA11y }}
    {{ $jsA11y := resources.Get "js/a11y.js" | resources.Minify | resources.Fingerprint $alg }}
    {{ $jsA11ySrc := $jsA11y.RelPermalink }}
    {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $jsA11ySrc $serverBasePath) }}
      {{ $jsA11ySrc = strings.TrimPrefix $serverBasePath $jsA11ySrc }}
    {{ end }}
    <script src="{{ $jsA11ySrc }}" integrity="{{ $jsA11y.Data.Integrity }}"></script>
  {{ end }}
  {{ $showZenMode := .Params.showZenMode | default (.Site.Params.article.showZenMode | default false) }}
  {{ $shouldIncludeZenMode := or $enableA11y $showZenMode }}
  {{ if and .IsPage $shouldIncludeZenMode }}
    {{ $jsZenMode := resources.Get "js/zen-mode.js" | resources.Minify | resources.Fingerprint $alg }}
    {{ $jsZenModeSrc := $jsZenMode.RelPermalink }}
    {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $jsZenModeSrc $serverBasePath) }}
      {{ $jsZenModeSrc = strings.TrimPrefix $serverBasePath $jsZenModeSrc }}
    {{ end }}
    <script
      type="text/javascript"
      src="{{ $jsZenModeSrc }}"
      integrity="{{ $jsZenMode.Data.Integrity }}"></script>
  {{ end }}
  {{ if not .Site.Params.disableImageZoom | default true }}
    {{ $zoomJS := resources.Get "lib/zoom/zoom.min.umd.js" | resources.Fingerprint $alg }}
    {{ $zoomJSSrc := $zoomJS.RelPermalink }}
    {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $zoomJSSrc $serverBasePath) }}
      {{ $zoomJSSrc = strings.TrimPrefix $serverBasePath $zoomJSSrc }}
    {{ end }}
    <script src="{{ $zoomJSSrc }}" integrity="{{ $zoomJS.Data.Integrity }}"></script>
  {{ end }}

  {{ $jsResources := slice }}
  {{ if site.Params.footer.showScrollToTop | default true }}
    {{ $jsResources = $jsResources | append (resources.Get "js/scroll-to-top.js") }}
  {{ end }}
  {{ if .Site.Params.enableSearch | default false }}
    {{ $fuseRaw := resources.Get "lib/fuse/fuse.min.cjs" }}
    {{ $fuse := resources.FromString "lib/fuse/fuse.min.js" (replace $fuseRaw.Content "module.exports=" "window.Fuse=") }}
    {{ $jsResources = $jsResources | append $fuse | append (resources.Get "js/search.js") }}
  {{ end }}
  {{ if .Site.Params.enableCodeCopy | default false }}
    {{ $jsResources = $jsResources | append (resources.Get "js/code.js") }}
  {{ end }}
  {{ if .Site.Params.rtl | default false }}
    {{ $jsResources = $jsResources | append (resources.Get "js/rtl.js") }}
  {{ end }}
  {{ $jsResources = $jsResources | append (resources.Get "js/katex-render.js") }}
  {{ $jsResources = $jsResources | append (resources.Get "js/print-support.js") }}
  {{ $jsResources = $jsResources | append (resources.Get "js/email.js") }}
  {{ if $jsResources }}
    {{ $bundleJS := $jsResources | resources.Concat "js/main.bundle.js" | resources.Minify | resources.Fingerprint $alg }}
    {{ $bundleJSSrc := $bundleJS.RelPermalink }}
    {{ if and hugo.IsServer $serverBasePath (strings.HasPrefix $bundleJSSrc $serverBasePath) }}
      {{ $bundleJSSrc = strings.TrimPrefix $serverBasePath $bundleJSSrc }}
    {{ end }}
    <script
      defer
      type="text/javascript"
      id="script-bundle"
      src="{{ $bundleJSSrc }}"
      integrity="{{ $bundleJS.Data.Integrity }}"
      data-copy="{{ i18n "code.copy" }}"
      data-copied="{{ i18n "code.copied" }}"></script>
  {{ end }}
</head>